.search{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #D3D3D3;
  border-radius: 25px;
  height: 35px;
  width: 280px;
}
.search img {
  width: 15.3px;
  height: auto;
  margin: 10px;
}

.search input {
  outline: none;
  border: none;
  background-color: #D3D3D3;
  width: 85%;
}

.display {
  background: white;
  position: absolute;
  top: 75px;
  visibility: visible;
  opacity: 0;
  z-index: 1000;
  width: 350px;

}
.display div{
  cursor: pointer;
  font-size: 12pt;
  margin: 10px;
}
.display div:hover{
  cursor: pointer;
  font-size: 12pt;
  font-weight: bold;
  color: #A01010;
}